
/*
	Aplicara el estilo a todas la imagenes cuya id sea:"imgGaleria"
*/
#imgGaleria{
	width: 400px;
	height: 400px;
}



	/*Estilos de la imagen a editar.*/
/*##########################################*/

.conten-img{

width: 100%;
margin: auto;
}

.conten-img img{
  height: 300px;
  width: 300px;
  margin-left: 1%; 
  border: 3px solid white;
  padding: 4px;
  border-radius: 10px; 
}


/*#######################################*/